* {
    box-sizing: border-box;
}

.App {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.matches-grid__game {
    background-color: #006E37;
    border: 5px white;
    color: #f8f8ff;
    box-shadow: 10px 5px 5px black;
}

.matches-grid__game {
    border: 5px white;
    display: flex;
    flex-direction: column;
}

.matches-grid__player {
    border: 3px white;
    display: flex;
    justify-content: space-between;
}

.score-container {
    display: flex;
}